@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* INDEX */
body {
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
    padding: 2px;
    text-align: center;
    padding-bottom: 0rem;
}

.logo{
    width: 170px;
    height: 110px;
}

@media screen and ((max-with: 1100px)){
    .logo{
        width: 190px;
        height: 150px;
    }
}

.btn-light{
    background-color: #82C0D9;
}

.btn-light:hover{
    background-color: #48A1D9
}

.btn-light:active {
    background-color: #82C0D9;
    color: #000000;
    border-color: #48A1D9;
}

.navbar{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}


.hero{ 
    height: 500px;
    text-align: center;
    color: whitesmoke;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.active > a {
    color: #81BEDB;
}

.image-grid{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 15px;
    background-color: whitesmoke;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.proximo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 90%;
    justify-self: center
}

.book-actions {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #48A1D9;
    color: white;
}

.btn-primary:hover {
    background-color: #82C0D9;
}

.btn-secondary {
    background-color: #678C42;
    color: white;
}

.btn-secondary:hover {
    background-color: #718C56;
}

.portada img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) { 
    .proximo {
    flex-direction: column;
    text-align: center;
    }

    .titulo {
    max-width: 100%; 
    }

    .portada img {
    max-width: 100%; 
    }
    .menu {
    display: block;
    }
}

.separator {
    border: none;
    height: 1px;
    background-color: #ddd; 
    margin: 2rem 0; 
}

.artwork div img{
    grid-auto-flow: column; 
    gap: 5rem; 
    justify-content: start; 
    padding: 1rem;
    overflow-x: auto; 
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.artwork div{
    display: ruby;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.artwork h2{
    font-size: 2rem; 
    font-weight: 700; 
    color: #333; 
    text-align: center; 
    line-height: 1.2;
    margin: 1rem 0;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    font-family: 'Arial', sans-serif; 
    padding: 0.5rem 1rem; 
}

.separator-about{
    border: none;
    height: 1px;
    background-color: #ddd; 
    margin: 2rem 0; 
}

.sobre {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.informacion {
    max-width: 40%; 
    text-align: center; 
}

.informacion h2 p {
    margin: 0.5rem 0;
}

.tj img {
    max-width: 300px; 
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}

footer div a img{
    width: 30px;
    height: 30px;
}

.footer {
    position: relative;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 3, 3);
    text-align: center;
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    position: relative;
    z-index: 1;
}

.footer-content h2 {
    margin: 0;
    font-size: 2rem;
}

.footer-content p {
    margin: 10px 0;
}

.social-links {
    display: contents;
    gap: 25px;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
}

/* SOBRE */
.about-content{
    display: flex;
    align-items: center;
    gap: 97px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center
}

.acerca{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-content h2{
    font-size: 35px;
    font-weight: bold;
    color: #122736c9;
    margin-bottom: 10px;  
}

.about-content p{
    font-size: 15px;
    color: #00000095;
    max-width: 700px;
}

.about-content img{
    width: 20%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
    
.about-content img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.about-awards{
    display: flow-root;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.216);
    text-align: center;
}

.about-awards h3{
    font-size: 35px;
    font-weight: bold;
    color: #122736c9;
    margin-bottom: 10px; 
}

.about-awards p{
    font-size: 15px;
    color: #00000095;
    max-width: 100%;
    text-align: center;
}

.about-critics{
    display: flow-root;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.216);
    text-align: center;
}

.about-critics h4{
    font-size: 35px;
    font-weight: bold;
    color: #122736c9;
    margin-bottom: 10px;   
}

.about-critics p{
    font-size: 15px;
    color: #00000095;
    max-width: 100%;
    text-align: center;
}

/* LIBROS */
.libros {
    display: grid;                           
    grid-template-columns: repeat(6, auto);  
    grid-template-rows: repeat(6, auto);     
    gap: 20px;                               
    width: 100%;                             
    padding: 25px;                           
    background-color: #f4f4f4;
    height: 100%; 
}

.libros img{
    width: 100%;                     
    height: 100%;                     
    border-radius: 5px;                    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.libros img:hover{
    box-shadow: 0 10px 20px #000000
}

/* RESENAS */
.section-resena{
    justify-content: center;
    display: flex;
    padding: 20px;
    margin: 10px;
}

.formulario{
    justify-items: center;
}

.formulario label{
    display: flex;
    padding: 8px;
    width: 50%;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.stars {
    display: flex;
    gap: 5px;
    flex-direction: row-reverse
}

.stars input {
    display: none;
}

.stars label {
    font-size: 24px;
    color: #cccccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    color: #FFD700;
}

button {
    padding: 10px;
    background-color: #81BEDB;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #48A1D9;
}

.iframe-container {
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Contacto */
.contacto {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.contacto h2 {
    text-align: center;
    color: #333333;
}
.contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contacto label {
    font-weight: bold;
    color: #555555;
}
.contacto input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}
.contacto input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}
.contacto button {
    padding: 10px 20px;
    background-color: #48A1D9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.contacto button:hover {
    background-color: #82C0D9;
    box-shadow: 0 4px 15px #555555(0, 0, 0, 0.3);
}