
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

h2, h3, h4{
    font-family: "Limelight", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: #101E11;
    letter-spacing: 3px;

}

